@model IEnumerable<ArtMin.Application.ViewModels.MarcacaoViewModel>
@{
    ViewBag.Title = "Cadastro de Marcação";
}

<h2>Marcação de Pontos</h2>

<p>
    @Html.ActionLink("Nova Marcação", "Create")
</p>

<table id="tableMarcacoes">
    <thead>
        <tr>
            <th>MarcacaoId</th>
            <th>Nome</th>
            <th>Gols</th>
            <th>Assistencias</th>
            <th>Vitorias</th>
            <th>Pênaltis Defendidos</th>
            <th>Penaltis Perdidos</th>
            <th>Gols Contra</th>
            <th>Pontos</th>
            <th>Ações</th>
        </tr>
    </thead>
</table>

@Scripts.Render("~/bundles/Marcacao")
@Html.Partial("../Shared/Marcacao/_Modais")

